<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Architectural Metrics</title>
    </head>
    <body>
        <link href="Content/css/bootstrap.css" rel="stylesheet"/>
        <link href="Content/css/sb-admin-2.css" rel="stylesheet"/>
        <script src="Content/js/jquery-2.1.1.min.js"></script>
        <script src="Content/js/underscore.min.js"></script>
        <script src="Content/js/backbone.min.js"></script>
        <script src="Content/js/bootstrap.js"></script>
        <div class="col-lg-12 ">
                <h1 class="page-header">Architectural Metrics</h1>
            </div>
        <div id="app" class="page-wrapper">
        </div>

        <script id="metricElement" type="text/template">
            <div class="panel-heading">
                <%= MetricName %>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
            <div class="panel-footer" style="height: 41px;">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= Percentage %>%;"><%= Percentage %>%</div>
                </div>
            </div>
        </script>

        <script src="Models/Metric.js"></script>
        <script src="Views/MetricView.js"></script>
    </body>
</html>
